
<div class="layout-topbar" style="background-color:deepskyblue;border-radius:97px; box-shadow: 10px 10px 5px gray">

    <a class="layout-right-panel-button layout-topbar-icon" (click)="appMain.onRightMenuClick($event)" href="#">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="layout-topbar-logo">
        <img src="../../../favicon.ico" style="position: relative;width: 87px;height: 4.5rem;padding-left: -58px;" />

        <span style="font-size: 2rem;color: white;font-weight: 900;position: absolute;margin-left: 1px;margin-top: 12px;">QuickCompta</span>
    </a>
    <ul class="topbar-menu">
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">

                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{authenticatedUser.email}}</span>
                    <span class="layout-profile-name">{{authenticatedUser.prenom}}</span>
                    <span *ngIf="authenticatedUserByAdmin" class="layout-profile-name">Connecté(e) en tant que </span>

                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a (click)="logout()">
                        <i class="pi pi-sign-out"></i><span class="p-ml-2">Log out</span></a>
                </li>
                <li>
                    <a (click)="useLanguage('ar')"><span class="fi fi-sa"></span>Arabe</a>
                </li>
                <li>
                    <a (click)="useLanguage('en')"><span class="fi fi-us"></span>English</a>
                </li>
                <li>
                    <a (click)="useLanguage('fr')"><span class="fi fi-fr"></span>French</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
