<!-- 
<div class="layout-topbar">

    <a class="layout-right-panel-button layout-topbar-icon" (click)="appMain.onRightMenuClick($event)" href="#">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="layout-topbar-logo">
        <img src="../../../favicon.ico" style="position: relative;width: 87px;height: 4.5rem;padding-left: -58px;" />

        <span style="font-size: 2rem;color: white;font-weight: 900;position: absolute;margin-left: 1px;margin-top: 12px;">QuickCompta</span>
    </a>
    <ul class="topbar-menu">
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">

                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{authenticatedUser.email}}</span>
                    <span class="layout-profile-name">{{authenticatedUser.prenom}}</span>
                    <span *ngIf="authenticatedUserByAdmin" class="layout-profile-name">Connecté(e) en tant que </span>

                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a (click)="logout()">
                        <i class="pi pi-sign-out"></i><span class="p-ml-2">Log out</span></a>
                </li>
                <li>
                    <a (click)="useLanguage('ar')"><span class="fi fi-sa"></span>Arabe</a>
                </li>
                <li>
                    <a (click)="useLanguage('en')"><span class="fi fi-us"></span>English</a>
                </li>
                <li>
                    <a (click)="useLanguage('fr')"><span class="fi fi-fr"></span>French</a>
                </li>
            </ul>
        </li>

    </ul>
</div> -->

<div class="app-header header-shadow">
    <div class="app-header__logo">
        <div>
            <img src="../../../favicon.ico" style="position: relative;width: 84px;height: 3.5rem;padding-left: -58px;" />
            <span style="font-size:1.5rem; color:#0f97c7;font-weight:700;position: absolute;margin-left: 1px;margin-top: 12px;">QuickCompta</span>
        </div>
        <div class="header__pane ml-auto">
            <div>

                <a class="layout-right-panel-button layout-topbar-icon" (click)="appMain.onRightMenuClick($event)" href="#">
                    <i class="pi pi-ellipsis-v"></i>
                </a>

                <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
                    <i class="pi pi-bars"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="app-header__content">
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="assets/demo/images/avatar/amyelsner.png" alt="">

                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="header__pane ml-auto">
                                    <button type="button" (click)="logout()" tabindex="0" class="dropdown-item" style="background-color: #0f97c7">Log out</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading">
                                {{authenticatedUser.prenom}}
                            </div>
                            <div class="widget-subheading">
                                {{authenticatedUser.email}}
                            </div>
                        </div>
                        <div class="widget-content-right header-user-info ml-3">
                          <!--  <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                            </button>-->
                        </div>
                    </div>
                </div>
       
            </div>        </div>
    </div>
</div>