.login-body .login-panel .logo-container img {
  display: block;
  margin-bottom: 0;
  margin-top: -28px;
  width: 123%;
}
.login-body .login-panel{
  margin-right: 500px;
  border-radius: 19%;
}
span.guest-sign-in{
  font-weight: bold;
}


