<body>
    <section class="container">

      <div class="image-section">
        <div class="image-wrapper">
          <img src="https://imgur.com/wDmDIhi.png" alt="">
        </div>

        <div class="content-container">
          <h1 class="section-heading">Success begins with <span>Education.</span></h1>
          <p class="section-paragraph">Education is the key that unlocks the limitless doors of knowledge, empowering us to shape our destinies and create a brighter future.</p>
        </div>
      </div>

      <div class="form-section">
        <div class="form-wrapper" [formGroup]="registerForm">
        

          <h2>Welcome Back! 👋🏻</h2>
          <p>Enter your credentials to access your account.</p>

          <div class="input-container">
            <div class="form-group">
              <label for="email">Prenom</label>
              <input type="text" id="email" autocomplete="off" pInputText formControlName="prenom" id="1" required>
            </div>
            <div class="form-group">
              <label for="password">Nom</label>
              <input type="text" id="password"  pPassword  [feedback]="false" formControlName="nom" >
            </div>
          </div>
          <div class="input-container">
            <div class="form-group">
              <label for="email">Username</label>
              <input type="text" id="email" autocomplete="off" pInputText formControlName="username" id="1" required>
            </div>
            <div class="form-group">
              <label for="password">Email</label>
              <input type="text" id="password"  pPassword  [feedback]="false" formControlName="email" >
            </div>
          </div>
          <div class="input-container">
            <div class="form-group">
              <label for="email">Password</label>
              <input type="text" id="email" autocomplete="off" pInputText formControlName="password" id="1" required>
            </div>
          </div>
          <button class="login-btn" (click)="submit()" pButton>Register</button>
        </div>
      </div>
    </section>
  </body>